@if (fakeQuery.data$ | async; as data) { <p>{{data}}</p> }
@if (fakeQuery.loading$ | async) { <p>Loading...</p> }
@if (fakeQuery.error$ | async; as error) { <p>{{error.error.message}}</p> }

@if (failingFakeQuery.data$ | async; as data) { <p>{{data}}</p> }
@if (failingFakeQuery.loading$ | async) { <p>Loading...</p> }
@if (failingFakeQuery.error$ | async; as error) { <p>{{error.error.message}}</p> }

<button (click)="navigate()">Navigate</button>

@if (fakeParametrizedQuery.data$ | async; as data) { <p>{{data}}</p> }
@if (fakeParametrizedQuery.loading$ | async) { <p>Loading...</p> }
@if (fakeParametrizedQuery.error$ | async) { <p>Error again...</p> }
